#keyboard-container {
    display: flex;
    justify-content: center;
}
#keyboard-container .key {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 18px;
    margin: 5px;
    display: inline-block;   
    transition: all 0.2s;
    cursor: pointer;
}

#keyboard-container .key.highlight {
    background-color: yellow!important;
}

#keyboard-container .key.selected {
    background-color: rgb(146, 255, 228);
}

@media (max-width: 1600px) {
    #keyboard-container .key {
        padding: 12px;
        margin: 3px;
    }
}